/backend/node_modules
/backend/dist
/backend/build
/backend/logs
/backend/tmp
/backend/*.log
/backend/.vscode/
/backend/.idea/
/backend/.DS_Store

/frontend/node_modules
/frontend/dist
/frontend/build
/frontend/logs
/frontend/tmp
/frontend/*.log
/frontend/.vscode/
/frontend/.idea/
/frontend/.DS_Store

.env
/dist
/build
/logs
/tmp
*.log
.vscode/
.idea/
.DS_Store
